<nav id="main-navbar" class="navbar navbar-fixed-top navbar-expand-md px-md-5">
    <a class="navbar-brand text-hide" href="#header">Empresa</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul data-aos="fade-down" data-aos-delay="500" class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-uppercase font-weigh-bold" href="/#empresa">Empresa</a>
            </li>
        </ul>
    </div>
</nav>